<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luguy.service.mapper.ColumnMapper">


	<select id="get_byid" parameterType="cn.luguy.service.bean.Column"
		resultType="cn.luguy.service.bean.Column">
		select * from t_column where id=${id}
	</select>
	

	<select id="get_listpage" parameterType="Map"
		resultType="cn.luguy.service.bean.Column">
		
		select * from t_column ${subSql} limit  #{begin},  #{pageSize}
	</select>

	<select id="find_count" parameterType="Map" resultType="int">
		select count(*) from t_column ${subSql}
		
	</select>

	<insert id="add_column" parameterType="cn.luguy.service.bean.Column" 
		useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into t_column(
		cname,
		username,
		uid,
		cdescriptor,
		num
		)
		values
			(
			#{cname},
			#{username},
			${uid},
			#{cdescriptor},
			#{num}
			)
	</insert>
	
	<update id="update_column" parameterType="cn.luguy.service.bean.Column">
		update t_column set 
		cname=#{cname},
		username=#{username},
		uid=${uid},
		cdescriptor=#{cdescriptor},
		num=#{num}
		where id=${id}
	</update>
	
	<delete id="delete_column" parameterType="cn.luguy.service.bean.Column">
		delete from t_column where id=${id}
	</delete>

</mapper>
