<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luguy.service.mapper.RelationMapper">

	<insert id="add_relation" parameterType="java.util.List">
		insert into t_relation_c_u(
		uid,
		cid,
		cname
		)
		values
		 <foreach collection="list" item="item" index="index" separator="," >  
        	(
				${item.uid},
				${item.cid},
				#{item.cname}
			)  
    	</foreach>
	</insert>

	<select id="get_byuid" parameterType="int"
		resultType="cn.luguy.service.bean.Relation">
		select * from t_relation_c_u where uid=${value}
	</select>
	
	<delete id="delete_relation" parameterType="Map">
		delete from t_relation_c_u where ${subSql}
	</delete>
<!-- 	<select id="get_byid" parameterType="cn.luguy.service.bean.User"
		resultType="cn.luguy.service.bean.User">
		select * from t_user where id=${id}
	</select>

	<select id="get_listpage" parameterType="Map"
		resultType="cn.luguy.service.bean.User">
		
		select * from t_user ${subSql} limit  #{begin},  #{pageSize}
	</select>

	<select id="find_count" parameterType="Map" resultType="int">
		select count(*) from t_user ${subSql}
		
	</select>
	
	<insert id="add_user" parameterType="cn.luguy.service.bean.User">
		insert into t_user(
		account,
		password,
		level,
		username
		)
		values
			(
			#{account},
			#{password},
			#{level},
			#{username}
			)
	</insert>
	
	<update id="update_user" parameterType="cn.luguy.service.bean.User">
		update t_user set 
		account=#{account},
		password=#{password},
		level=#{level},
		username=#{username}
		where id=${id}
	</update>
	
	<delete id="delete_user" parameterType="cn.luguy.service.bean.User">
		delete from t_user where id=${id}
	</delete> -->


</mapper>
